.table-custom {
    background-color: #e5121c !important;
}
  
.table-custom thead {
    background-color: hsl(250, 96%, 49%);
    color: #fff;
}
  
.table-custom tbody {
    background-color: hsl(172, 92%, 51%);
}
  
.table-custom  {
    background-color: red !important;
}

  